@{
    ViewBag.Title = "Home Page";
}
<div class="bg-dark">
    <div class="jumbotron bg-dark text-white jumbotron-margin container">
        <h1>Хатинка</h1>
        <p class="lead">Хатинка найбільша ріелторська контора в Україні, ми раді що, Ви, вибрали нас</p>
    </div>
</div>
<div class="bg-dark">
    <div class="container">
        <div id="ListRealEstate" class="row  text-white">

            <div class="col-md-4">
                <button type="button" class="btn btn-light button-index btn-block" style=" margin-top: 15px !important;margin-bottom: 15px !important;}">@Html.ActionLink("Квартири", "Index", "Apartments",  new { @class = "loyout-content" })</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-light button-index btn-block" style=" margin-top: 15px !important;margin-bottom: 15px !important;}">Нові квартири</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-light button-index btn-block" style=" margin-top: 15px !important;margin-bottom: 15px !important;}">Котеджі</button>
            </div>
        </div>
    </div>
</div>
