@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, htmlAttributes: new { id = "logoutForm", @class = "navbar-right "}))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Привіт " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "bg-dark text-white loyout-content" })
        </li>
        <li ><a class="text-white bg-dark loyout-content navbar-right " href="javascript:document.getElementById('logoutForm').submit()">Вийти</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right navbar-right">
        <li class="">@Html.ActionLink("Зареєструватися", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "bg-dark text-white loyout-content" })</li>
        <li class="">@Html.ActionLink("Війти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "bg-dark text-white loyout-content" })</li>
    </ul>
}
